In [1]:
import pandas as pd
import numpy as np

In [2]:
df_base_props = pd.read_csv('./resources/SoapQualities.csv')

df_iodine = pd.read_csv('./resources/iodine.csv', header=None) # done
df_ins = pd.read_csv('./resources/ins.csv', header=None) # done
df_lauric = pd.read_csv('./resources/Lauric.csv', header=None) # done 
df_linoleic = pd.read_csv('./resources/linoleic.csv', header=None) # done
df_linolenic = pd.read_csv('./resources/linolenic.csv', header=None) # done
df_myristic = pd.read_csv('./resources/Myristic.csv', header=None) # done
df_oleic = pd.read_csv('./resources/Oleic.csv', header=None) # done
df_palmitic = pd.read_csv('./resources/palmitic.csv', header=None) # done
df_ricinoleic = pd.read_csv('./resources/Ricinoleic.csv', header=None)# done
df_SAP = pd.read_csv('./resources/SAP.csv', header=None)
df_stearic = pd.read_csv('./resources/Stearic.csv', header=None) # done

In [3]:
df_base_props = df_base_props.apply(lambda x: x.astype(str).str.lower())
df_base_props.set_index('Oil', inplace=True)
df_base_props.head()

,Hardness,Cleansing,Condition,Bubbly,Creamy,Iodine,INS
Oil,,,,,,,
"coconut oil, fractionated",93,93,0,93,0,1,324
coconut oil 76 degree,79,67,10,67,12,10,258
murumuru buttter,82,73,18,73,9,25,250
aloe butter,0,0,0,0,0,0,249
myrstic acid,99,99,0,99,0,1,246

In [4]:
df_SAP.dropna(axis = 0, how = 'all', inplace = True)

df_SAP.rename(columns={ df_SAP.columns[0]: "S" }, inplace = True)
df_SAP.rename(columns={ df_SAP.columns[1]: "A" }, inplace = True)
df_SAP.rename(columns={ df_SAP.columns[2]: "Oil" }, inplace = True)

df_SAP.drop(df_SAP.columns[3], axis=1, inplace=True)
df_SAP.drop(df_SAP.columns[3], axis=1, inplace=True)

df_SAP = df_SAP.apply(lambda x: x.astype(str).str.lower())
df_SAP.set_index('Oil', inplace=True)
df_SAP.head()

                               S                    A
Oil
coconut oil, fractionated  0.325  0.23199999999999998
lauric acid                 0.28                  0.2
murumuru butter            0.275                0.196
coconut oil, 92 deg        0.257                0.183
coconut oil, 76 deg        0.257                0.183

In [5]:
df_stearic.dropna(axis = 0, how = 'all', inplace = True)
df_stearic.rename(columns={ df_stearic.columns[0]: "stearic value" }, inplace = True)
df_stearic.rename(columns={ df_stearic.columns[1]: "Oil" }, inplace = True)
df_stearic = df_stearic.apply(lambda x: x.astype(str).str.lower())
df_stearic.set_index('Oil', inplace=True)
df_stearic.head()

                                      stearic value
Oil
stearic acid                                   99.0
soybean, fully hydrogenated (soy wax)          87.0
kokum butter                                   56.0
illipe butter                                  45.0
kpangnan butter                                44.0

In [6]:
df_ricinoleic.dropna(axis = 0, how = 'all', inplace = True)
df_ricinoleic.rename(columns={ df_ricinoleic.columns[0]: "ricinoleic value" }, inplace = True)
df_ricinoleic.rename(columns={ df_ricinoleic.columns[1]: "Oil" }, inplace = True)
df_ricinoleic = df_ricinoleic.apply(lambda x: x.astype(str).str.lower())
df_ricinoleic.set_index('Oil', inplace=True)
df_ricinoleic.head()

                        ricinoleic value
Oil
castor oil                            90
soapquick, conventional                5
babassu oil                            0
cottonseed oil                         0
corn oil                               0

In [7]:
df_palmitic.dropna(axis = 0, how = 'all', inplace = True)
df_palmitic.rename(columns={ df_palmitic.columns[0]: "palmitic value" }, inplace = True)
df_palmitic.rename(columns={ df_palmitic.columns[1]: "Oil" }, inplace = True)
df_palmitic = df_palmitic.apply(lambda x: x.astype(str).str.lower())
df_palmitic.set_index('Oil', inplace=True)
df_palmitic.head()

                palmitic value
Oil
palmitic acid               98
japan wax                   80
palm stearin                60
palm oil                    44
red palm butter             44

In [8]:
df_oleic.dropna(axis = 0, how = 'all', inplace = True)
df_oleic.rename(columns={ df_oleic.columns[0]: "oleic value" }, inplace = True)
df_oleic.rename(columns={ df_oleic.columns[1]: "Oil" }, inplace = True)
df_oleic = df_oleic.apply(lambda x: x.astype(str).str.lower())
df_oleic.set_index('Oil', inplace=True)
df_oleic.head()

                              oleic value
Oil
oleic acid                             99
sunflower oil, high oleic              83
carrot seed oil, cold pressed          80
pataua (patawa) oil                    78
safflower oil, high oleic              77

In [9]:
df_myristic.drop(df_myristic.columns[2], axis=1, inplace=True)
df_myristic.dropna(axis = 0, how = 'all', inplace = True)
df_myristic.rename(columns={ df_myristic.columns[0]: "myristic value" }, inplace = True)
df_myristic.rename(columns={ df_myristic.columns[1]: "Oil" }, inplace = True)
df_myristic = df_myristic.apply(lambda x: x.astype(str).str.lower())
df_myristic.set_index('Oil', inplace=True)
df_myristic.head()

                   myristic value
Oil
myristic acid                  99
nutmeg butter                  83
murumuru butter                26
tucuma seed butter             23
babassu oil                    20

In [10]:
df_linolenic.dropna(axis = 0, how = 'all', inplace = True)
df_linolenic.rename(columns={ df_linolenic.columns[0]: "linolenic value" }, inplace = True)
df_linolenic.rename(columns={ df_linolenic.columns[1]: "Oil" }, inplace = True)
df_linolenic = df_linolenic.apply(lambda x: x.astype(str).str.lower())
df_linolenic.set_index('Oil', inplace=True)
df_linolenic.head()

                                  linolenic value
Oil
pomegranate seed oil                           78
perilla seed oil                               56
flax oil, linseed                              50
linseed oil, flax                              50
sacha inchi, plukenetia volubilis              48

In [11]:
df_linoleic.dropna(axis = 0, how = 'all', inplace = True)
df_linoleic.rename(columns={ df_linoleic.columns[0]: "linoleic value" }, inplace = True)
df_linoleic.rename(columns={ df_linoleic.columns[1]: "Oil" }, inplace = True)
df_linoleic = df_linoleic.apply(lambda x: x.astype(str).str.lower())
df_linoleic.set_index('Oil', inplace=True)
df_linoleic.head()

                       linoleic value
Oil
evening primrose oil               80
safflower oil                      75
passion fruit seed oil             70
sunflower oil                      70
poppy seed oil                     69

In [12]:
df_lauric.dropna(axis = 0, how = 'all', inplace = True)
df_lauric.rename(columns={ df_lauric.columns[0]: "lauric value" }, inplace = True)
df_lauric.rename(columns={ df_lauric.columns[1]: "Oil" }, inplace = True)
df_lauric = df_lauric.apply(lambda x: x.astype(str).str.lower())
df_lauric.set_index('Oil', inplace=True)
df_lauric.head()

                                     lauric value
Oil
lauric acid                                  99.0
cohune oil                                   51.0
babassu oil                                  50.0
palm kernel oil                              49.0
palm kernel oil flakes, hydrogenated         49.0

In [13]:
df_iodine.drop(df_iodine.columns[2], axis=1, inplace=True)
df_iodine.dropna(axis = 0, how = 'all', inplace = True)
df_iodine.rename(columns={ df_iodine.columns[0]: "iodine value" }, inplace = True)
df_iodine.rename(columns={ df_iodine.columns[1]: "Oil" }, inplace = True)
df_iodine = df_iodine.apply(lambda x: x.astype(str).str.lower())
df_iodine.set_index('Oil', inplace=True)
df_iodine.head()

                                      iodine value
Oil
lauric acid                                      0
acorn oil                                        0
pine tar, lye calc only no fa                    0
soybean, fully hydrogenated (soy wax)            1
coconut oil, fractionated                        1

In [14]:
df_ins.rename(columns={ df_ins.columns[0]: "INS value" }, inplace = True)
df_ins.rename(columns={ df_ins.columns[1]: "Oil" }, inplace = True)
df_ins.drop(df_ins.columns[2], axis=1, inplace=True)
df_ins.dropna(axis = 0, how = 'all', inplace = True)
df_ins = df_ins.apply(lambda x: x.astype(str).str.lower())
df_ins.set_index('Oil', inplace=True)
df_ins.head()

                         INS value
Oil
coconut oil fractionated     324.0
lauric acid                  280.0
coconut oil, 76 deg          258.0
coconut oil, 92 deg          258.0
murumuru butter              250.0

In [15]:
from functools import reduce

#define list of DataFrames
dfs = [df_base_props, df_iodine, df_ins,df_lauric,df_linoleic,df_linolenic,df_myristic,df_oleic,
       df_palmitic,df_ricinoleic,df_SAP,df_stearic]

#merge all DataFrames into one
final_df = reduce(lambda  left,right: pd.merge(left,right,on=['Oil'],
                                            how='outer'), dfs)

In [16]:

import os  
os.makedirs('output/test', exist_ok=True)  
final_df.to_csv('output/test/out.csv')