In [2]:
import pandas as pd
import numpy as np

In [4]:
df_population = pd.read_csv('./resources/SoapQualities.csv')

In [21]:
df_population.head(5)

,Oil,Hardness,Cleansing,Condition,Bubbly,Creamy,Iodine,INS
0,"Coconut oil, fractionated",93,93,0,93,0,1,324
1,Coconut oil 76 degree,79,67,10,67,12,10,258
2,Murumuru buttter,82,73,18,73,9,25,250
3,Aloe Butter,0,0,0,0,0,0,249
4,Myrstic acid,99,99,0,99,0,1,246

In [19]:
df_myristic = pd.read_csv('./resources/Myristic.csv', header=None)

In [20]:
df_myristic.head()

    0                   1    2
0  99       Myristic Acid  NaN
1  83       Nutmeg Butter  NaN
2  26     Murumuru Butter  NaN
3  23  Tucuma Seed Butter  NaN
4  20         Babassu Oil  NaN

In [41]:
df_ins = pd.read_csv('./resources/ins.csv', header=None)
df_ins.rename(columns={ df_ins.columns[0]: "INS value" }, inplace = True)
df_ins.rename(columns={ df_ins.columns[1]: "Oil" }, inplace = True)

In [42]:
df_ins.head()

   INS value                       Oil    2
0        NaN                       NaN  NaN
1      324.0  Coconut Oil fractionated  NaN
2      280.0               Lauric Acid  NaN
3      258.0       Coconut Oil, 76 deg  NaN
4      258.0       Coconut Oil, 92 deg  NaN

In [27]:
df_iodine = pd.read_csv('./resources/iodine.csv', header=None)
df_iodine.rename(columns={ df_iodine.columns[0]: "iodine value" }, inplace = True)
df_iodine.rename(columns={ df_iodine.columns[1]: "Oil" }, inplace = True)

In [28]:
df_iodine.head()

   0                                      1    2
0  0                            Lauric Acid  NaN
1  0                              Acorn Oil  NaN
2  0          Pine Tar, lye calc only no FA  NaN
3  1  Soybean, fully hydrogenated (soy wax)  NaN
4  1              Coconut Oil, fractionated  NaN

In [29]:
df_merge_test = pd.merge(
    df_iodine,
    df_ins,
    how="inner",
    on=1,
    copy=True,
    indicator=False,
    validate=None,
)

In [30]:
df_merge_test.head()

   0_x                                      1  2_x    0_y  2_y
0    0                            Lauric Acid  NaN  280.0  NaN
1    0                              Acorn Oil  NaN    0.0  NaN
2    0          Pine Tar, lye calc only no FA  NaN    0.0  NaN
3    1  Soybean, fully hydrogenated (soy wax)  NaN  191.0  NaN
4    1                          Myristic Acid  NaN  246.0  NaN